<h1>Listing branches for <%= @contest.name%></h1>

<table>
  <tr>
    <th>User</th>
    <th>Type</th>
    <th>Order</th>
    <th>Prevs</th>
    <th>Is player</th>
    <th>Is type</th>
    <th>Player</th>
    <th>Event</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @branches.each do |branch| %>
  <tr>
    <td><%= branch.user.name %></td>
    <td>	<% if branch.type_id? %>
			<%= branch.type.event %>
			<%end%>
	</td>
	<td><%= branch.stack_order %></td>
	<td><%= branch.prev_01 %>, <%= branch.prev_02 %>, <%= branch.prev_03 %>
		(<%= show_odds_this_branch(branch.contest_id, branch.stack_order, branch.player_id, 
		branch.event_id, branch.prev_01, branch.prev_02, branch.prev_03)%>)</td>
	<td><%= branch.is_player %></td>
    <td><%= branch.is_type %></td>
 	<td>	<% if branch.player_id? %>
			<%= branch.player.last_name %>
			<%end%>
	</td>
    <td><% if branch.event_id? %>
		<%= branch.event.description %> 
		<%end%>	
	</td>
    <td><%= link_to 'Edit', edit_contest_branch_path(@contest, branch) %></td>
    <td><%= link_to 'Destroy', contest_branch_path(@contest, branch), 
								confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Branch', new_contest_branch_path%>

