<h3>My Picks for: <br/> 
<%= @contest.team.city%> against <%= @contest.name%></h3>

<ul data-role="listview" <%=data_theme%>>
	<% @branches.each do |branch| %>
	<li class="mypadding" data-mini="true">
	<% if branch.type_id? %>
		<%= branch.type.event %>
	<%end%> 
	<% if branch.player_id? %>
		<%= link_to player_pick_info(@contest_id, branch.stack_order, branch.player_id, 
					branch.event_id, branch.prev_01, branch.prev_02, branch.prev_03), 
					edit_contest_branch_path(@contest, branch) %>
	<%end%> 
	<% if branch.event_id? %>
	<%= link_to event_pick_info(@contest_id, branch.stack_order, branch.player_id, 
				branch.event_id, branch.prev_01, branch.prev_02, branch.prev_03), 
				edit_contest_branch_path(@contest, branch) %>
	<%end%>
	<%end %>
	</li>
<br />

<div class="mypadding" "data-inline" = "true">
<% if @branches.count < 4 then %>
<%= link_to 'Add a pick', new_contest_branch_path, :controller => 'branches',
			:action => :new, "data-role" => "button", "class" => "ui-btn-center", 
			"data-mini" => "true", "data-inline" => "true"%>
<%end%>
</div>
