
<h3>You're in!</h3>

<p>
 
<% if @branch.player_id? %>
 	You selected <%= @branch.player.first_name %> <%= @branch.player.last_name %> 
	to get the <%= @branch.type.event %> in the upcoming game against 
	<%= @branch.contest.name%>.<br>
<%end%>

<% if @branch.event_id? %>
  	You added <%= @branch.event.description %> <%= @branch.type.event %> to 
	to your picks for the upcoming game against <%= @branch.contest.name%>.<br>
<%end%>



If you're right, your chances of winning are currently: 
<b>1 in 
<% if !@branch.event.nil? %>
	<%= @branch.event.branches.count%>
	<%else%>
	1
	<%end%></b>
</p>

<h4>Go back to add another pick and change your chance 
	(or come back later to see if your chances have changed).<h4>

<%= link_to 'Edit', edit_contest_branch_path(@contest, @branch) %> | 
<%= link_to 'Back', contest_branches_path, :method => :get %>
