<h3>You are entered to win <%=show_branch_prize(@branch.contest_id, current_user.id)%>*</h3>

<p>
<% if @branch.player_id? %>
 	You selected <%= @branch.player.first_name %> <%= @branch.player.last_name %> 
	to get the <%= @branch.type.event %> in the upcoming game against 
	<%= @branch.contest.name%>.<br>
<%end%>

<% if @branch.event_id? %>
  	You added <%= @branch.event.description %> <%= @branch.type.event %> to 
	to your picks for the upcoming game against <%= @branch.contest.name%>.<br>
<%end%>
</p>
<small>
* If this pick is correct, winner will be randomly drawn from your name and 
	<%= show_odds_this_branch(@branch.contest_id, @branch.stack_order, @branch.player_id, 
	@branch.event_id, @branch.prev_01, @branch.prev_02, @branch.prev_03)%>.
</small>

<div>
<% if !@branch.id.nil? && @branch.id == this_user_contest_branches(current_user.id, @contest.id).last.id%>
<%= button_to 'Delete this pick', contest_branch_path(@contest, @branch), 	
	:confirm => 'Are you sure?', method: :delete  %>
<%end%>
</div>

<h4>
<% if @branches.count < 4 %>
	<%= link_to 'Add', contest_branches_path, :method => :get %> another pick or go 
	<%else %>
	<%= link_to 'Look', contest_branches_path, :method => :get %> at all my picks or go 
	<%end%>
	<%= link_to 'back', edit_contest_branch_path(@contest, @branch) %> 
	 to change my last selection.
</h4>