<p id="notice"><%= notice %></p>

<p>
  <b>Branch:</b>
  <%= @branches_player.branch_id %>
</p>

<p>
  <b>Player:</b>
  <%= @branches_player.player_id %>
</p>

<p>
  <b>:</b>
  <%= @branches_player. %>
</p>

<p>
  <b>=:</b>
  <%= @branches_player.= %>
</p>


<%= link_to 'Edit', edit_branches_player_path(@branches_player) %> |
<%= link_to 'Back', branches_players_path %>
