<h3>Next games</h3>
	<ul data-role="listview" <%=data_theme%> >
		<% @contests.each do |contest| %>
		<li class="mypadding">
		In <%= contest.team.sport.description%> <br>
		<%= contest.team.city %> vs <%= contest.name %> <br>
		<%= if contest.end > DateTime.now then
			link_to contest.end.strftime("%B %d, %Y"), contest_branches_path(contest) else
			'Closed' end %>
		</li>
		<% end %>
	</ul>





