<h1>Listing contests</h1>

<table class="pretty">
  <tr>
    <th>Name</th>
    <th>First game</th>
    <th>Last game</th>
    <th>Start</th>
    <th>End</th>
    <th></th>
	<% if signed_in? && admin? %>
	<th>Branches</th>
    <th></th>
    <th></th>
    <th></th>
	<% end %>
  </tr>

<% @contests.each do |contest| %>
  <tr>
    <td><%= contest.name %></td>
    <td><%= contest.first_game %></td>
    <td><%= contest.last_game %></td>
    <td><%= contest.start.to_s(:custom_date_time) %></td>
    <td><%= contest.end.to_s(:custom_date_time) %></td>
	<td><%= link_to 'Join', new_contest_branch_path(contest) %></td>
	<% if signed_in? && admin? %>
   	<td><%= link_to 'Branches', contest_branches_path(contest) %></td>
    <td><%= link_to 'Team', sport_team_path(contest.team.sport, contest.team) %></td>
    <td><%= link_to 'Edit', edit_team_contest_path(@team, contest) %></td>
    <td><%= link_to 'Destroy', 	team_contest_path(@team, contest), 
								confirm: 'Are you sure?', 
								method: :delete %></td>
	<% end %>
  </tr>
	<% end %>
</table>

<% if signed_in? && admin? %>
<% if !params[:team_id].nil? %>
<%= link_to 'New Contest', new_team_contest_path %>
<%end%>
<% end %>


