<div data-role="content" <%=data_theme%>>
	
<h1>Sign up Mobile</h1>

<%= form_for(@user) do |f| %>
<%= render 'shared/error_messages', :object => f.object%> 

<div>
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</div>
<div>
  <%= f.label :email %><br />
  <%= f.text_field :email %>
</div>
<div>
  <%= f.label :password %><br />
  <%= f.text_field :password %>
</div>
<div>
  <%= f.label :password_confirmation, "Password Confirmation" %><br />
  <%= f.text_field :password_confirmation %>
</div>


<div>
<%= f.submit 'Sign up' %>
</div>
<%end%>

</div>