<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<meta name ="viewport" content="width=device-width, initial-scale=1">
  		<%= csrf_meta_tags %>
		<%= render 'layouts/stylesheets' %>
	</head>
		<body>
		<div date-role="page" <%= data_theme %>>
      	<%= render 'layouts/header' %>
			<div data-role="content" <%= data_theme %> >
				<%= yield %>
			</div>
			<%= render 'layouts/footer' %>
		</div>
	</body>
</html>